@font-face {
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
  url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-family: 'Futura';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
  url('../fonts/FuturaPT-Medium.woff') format('woff');
  font-family: 'Futura';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../fonts/futura-normal.woff2') format('woff2'),
  url('../fonts/futura-normal.woff') format('woff');
  font-family: 'Futura';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
