.services{
  padding-bottom: 127px;
}

.services__title{
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: $main-grey-color;
  margin: 0;
  margin-bottom: 80px;
}

.services__list{
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  position: relative;
  margin: 0;

  &::before{
    content: "";
    width: 14px;
    height: 26px;
    position: absolute;
    top: 100px;
    left: -15px ;
    background-image: url("../images/arrow-left.png");
    background-repeat: no-repeat;
  }

  &::after{
    content: "";
    width: 14px;
    height: 26px;
    position: absolute;
    top: 100px;
    right: 10px ;
    background-image: url("../images/arrow-right.png");
    background-repeat: no-repeat;
  }
}

.services__item{
  width: 193px;
  padding: 30px 35px 28px;
  text-align: center;
  background-color: #fff;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }
}

.item-active{
height: 250px;
}

.services__item + .services__item{
  margin-left: 13px;
}

.services__item-link{
  text-decoration: none;
}

.services__subtitle{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $main-grey-color;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 28px;

}

.link-title{
  margin-top: 37px;
  margin-bottom: 39px;
}


.services__info{
  width: 1240px;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
  padding: 41px 0;
}

.services__bottom-img{
  margin-left: 50px;
  margin-right: 70px;
}

.services__subinfo{
  width: 500px;
  margin-right: 50px;
}

.services__headline{
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  color: $main-grey-color;
}

.services__text{
  font-size: 16px;
  line-height: 20px;
  color: $main-text-color;
  margin-top: 18px;
}

.services__link-box{
  margin-top: 34px;
}

.services__link{
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  position: relative;
  color: #fff;
  background-color: $main-orange-color;
  text-decoration: none;
  border-radius: 3px;
  margin-right: 21px;
  padding: 15px 36px 16px 63px;

  &:hover{
    color: $main-orange-color;
    background-color: $main-grey-color;
  }

    &:active{
      color: $main-orange-color;
      background-color: $main-grey-color;
      opacity: 0.6;
    }

  &::before{
    width:21px;
    height: 21px ;
    content: "";
    position: absolute;
    top: 15px;
    left: 35px;
    background-image: url("../images/money.svg");
    background-repeat: no-repeat;
  }
}

.services__sublink{
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  border-radius: 3px;
  padding: 15px 37px 14px 64px;
  color: #fff;
  background-color: $main-grey-color;
  position: relative;

  &:hover{
    background-color: $main-orange-color;
    color: $main-grey-color;
  }

    &:active{
      background-color: $main-orange-color;
      color: $main-grey-color;
      opacity: 0.6;
    }

  &::before{
    width:21px;
    height: 21px ;
    content: "";
    position: absolute;
    top: 12px;
    left: 35px;
    background-image: url("../images/document.svg");
    background-repeat: no-repeat;
  }
}
